{% extends "base.html" %}

{% block title %} Add a Room{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-offset-3 col-md-6">

    <h3>Add a Room</h3>

    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="{{ url_for('addroom')}}" role="form">

      {{ form.hidden_tag() }}
      {{ render_field(form.room_num, class='form-control') }}
      {{ render_field(form.room_type, class='form-control') }}
      {{ render_field(form.price, class='form-control') }}

      <button type="submit" class="btn btn-default">Add Room</button>

    </form>

  </div>

</div>
{% endblock %}