
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Welcome to Magnet</title>

 <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">


  </head>

  <body>
{% block content %}
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand" id="blue">MAG</h3><h3 class="masthead-brand" class="white">NET</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="{{ url_for('login')}}">Employee Sign in</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Reserve Your Room</h1>
           <!--  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p> -->
            <p class="lead">
              <div class="row">
                <div class="col-md-12">
                 {% from "_formhelpers.html" import render_field %}
                 <h4>Enter check in/out dates</h4>
    <form method="POST" action="{{ url_for('search')}}" role="form">

      {{ form.hidden_tag() }}
      {{ render_field(form.date_in, class='form-control') }}
      {{ render_field(form.date_out, class='form-control') }}
      {{ render_field(form.members, class='form-control') }}

      <button type="submit" class="btn btn-default">Search</button>
    </form>
     {% include '_flashmessages.html' %}
            </p>
          </div>
</div>
</div>
        </div>

      </div>

    </div>

  
  </body>
</html>

{% endblock %}


